<div class="col-md-12">
    <div class="group">
        <%= link_to("New job", new_admin_job_path, class: "btn btn-primary pull-right") %>
    </div>
    <table class="table table-boldered table-striped custab">
        <thead>
            <tr>
                <td>
                    职缺
                </td>
                <td>
                    收到履历数量
                </td>
                <td>
                    薪资下限
                </td>
                <td>
                    薪资上限
                </td>
                <td>
                    管理选项
                </td>
                <td>
                    刊登时间
                </td>
            </tr>
        </thead>
        <tbody>
            <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
        </tbody>
    </table>
</div>
